#sidebar-wrapper {
    height: 80vh;
    z-index: 1000;
    position: absolute;
    left: -250px;
    width: 250px;
    overflow-y: auto;
    background: rgba(24, 23, 23, 0.849);
    border-radius: 10px;
    transition: 0.5s;
}

#wrapper.toggled #sidebar-wrapper {
    left: 0px;
}

.sidebar-nav {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 250px;
    list-style: none;
}

.sidebar-nav li {
	display:block;
    background-color: #131010cb;
    border-radius: 45px;
	margin-top: 10px;
    text-align: center;
    line-height: 40px;
}

.sidebar-nav li:hover {
    transform: scale(1.1,1.2);
    transition: 0.5s;
    background-color: rgba(117, 0, 0, 0.726);
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fcfcfc;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    border-radius: 45px;
    color: #fff;
}


.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}